/*
==============================
BASICS
==============================
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3em;
}

.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 30px;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8em;
}

.big {
    font-size: 1.5em;
    line-height: 1.35em;
}

.emphasis {
    font-weight: bold;
}

.typed {
    font-family: 'Special Elite', monospace;
}

/*
==============================
HEADER
==============================
*/

header .container {
    /* background: #000; */
    color: #000;
    padding: 45px 30px;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
}

/*
==============================
SECTION
==============================
*/

#game {
    /* height: 70vh; */
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; */
    padding: 0;
    
}

/* .game > * {

} */

#question, #options {
    width: 100%;
    padding: 30px;
}

#question {
    border-bottom: 3px solid #000;
}

#options {
    border-bottom: 3px solid #000;

}

#startBtn, #restartBtn {
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 15px;
}

#startBtn:hover, #restartBtn:hover {
    cursor: pointer;
}

#restartBtn {
    margin-top: 15px;
}

#countdown {
    text-align: right;
    border-bottom: 1px solid #000;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    font-family: 'Special Elite', monospace;
}

#options li {
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
    /* margin-bottom: 15px; */
    /* background: #000; */
    color: #000;
    background-image: linear-gradient(to right, #ff0 0, #ff9 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all .5s;
    background-position: 0 0.3em;
    font-family: 'Special Elite', monospace;
    font-size: 1.15em;
    /* letter-spacing: 3px; */
}

#options li:hover {
    background-size: 100% 100%;
    cursor: pointer;
}

/*
==============================
FOOTER
==============================
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: calc(76px + 1.5rem);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
}

footer .container {
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

footer nav ul {
    display: flex;
}

footer nav li {
    flex-basis: auto;
    padding-right: 2em;
}

nav a {
    color: #000;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right, #ff0 0, #ff9 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all .5s;
    background-position: 0 0.5em;
}

nav a:hover {
    background-size: 100% 100%;
}

.copyright {
    text-align: right;
}